{% extends 'BookBundle::layout.html.twig' %}
{% block title %} Book Create {% endblock %}
{% block body %}
    <h1 class="lead"><b>Create</b></h1>
    {% block form %}
    {% endblock %}

{% endblock %}