{% extends 'BookBundle::layout.html.twig' %}
{% block title %} Book Update {% endblock %}
{% block body %}
    <h1 class="lead"><b>Update - #{% block book_id %}{% endblock %}</b></h1>
    {% block form %}
    {% endblock %}

{% endblock %}